<% cache comment do %>
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= comment.user.try(:username) %>
    </div>
    <div class="panel-body">
      <%= comment.content %>
    </div>
  </div>
</div>
<% end %>
